.logo {
  padding-top: 10px;
}

div {
  display: flex;
  background-color: black;
  justify-content: space-between;

  height: 40px;
  div {
    color: white;
    margin-left: 20px;
  }
  button {
    border: 0;
    background-color: #3e3e3e;
    color: #ffffff;
    padding: 0px 15px;
    min-width: 75px;
    text-align: center;
    cursor: pointer;
  }

  button:hover {
    background-color: #222222;
  }
}
