<!-- <my-header></my-header> -->
<div>
  <h1>Авторизация</h1>
  <form>
    <div>
      <label for="username">Login:</label>
      <input
        [(ngModel)]="user.username"
        placeholder="Enter your name"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        [(ngModel)]="user.password"
        placeholder="Password"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <button type="submit" (click)="onSubmit()">Войти</button>
    <div *ngIf="validation" style="color: red">{{ error }}</div>
  </form>
</div>
