<my-header></my-header>
<h1>Управление музыкантами</h1>
<div class="search-input">
  <input
    type="text"
    [(ngModel)]="searchText"
    (keyup.enter)="search()"
    placeholder="Search"
  />
  <div>
    <button (click)="search()" (keyup.enter)="search()">Search</button>
    <button (click)="exitSearch()">Отмена</button>
  </div>
</div>
<div *ngIf="searchText">
  <div class="seach-content">
    <div>Фото</div>
    <div>Никнейм</div>
  </div>
</div>
<div *ngIf="isLoading"><div class="loader"></div></div>
<ul style="text-decoration: none">
  <li
    *ngFor="let musician of musicians; let i = index"
    style="text-decoration: none"
  >
    <div (click)="selectMusician(i)">
      <div style="margin-top: 10px" class="seach-content">
        <img
          [src]="getCoverUrl(musician.musicianCover)"
          alt="Musician Cover"
          style="text-decoration: none"
        />
        <h3 style="display: flex">
          <div>id:{{ musician.id }}</div>
          <div style="margin-left: 20px">{{ musician.nickname }}</div>
        </h3>
      </div>
    </div>
  </li>
  <li *ngIf="!musicians?.length && searchText !== ''">
    <div style="margin-top: 10px" class="seach-content">
      <div style="display: flex">
        <h3 style="display: flex">Ничего не найдено</h3>
      </div>
    </div>
  </li>
</ul>

<div *ngIf="selectedMusician">
  <button (click)="selectedMusician = null">Назад</button>
  <img
    [src]="getCoverUrl(selectedMusician?.musicianCover)"
    alt="Musician Cover"
  />
  <h2>
    Выбранный мзуыкант:
    <div>
      {{ selectedMusician.nickname }}
    </div>
  </h2>
  <button style="color: red" (click)="DeleteMusician()">
    Удалить музыканта
  </button>
</div>
