li {
  list-style: none;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input {
  background-color: #3e3e3e;
  color: #ffffff;
  padding: 10px;
  width: -webkit-fill-available;
}

.seach-content {
  gap: 20px;
  display: flex;
  align-items: center;
}

.search-input {
  position: relative;

  div {
    position: absolute;
    display: flex;
    right: 0px;

    button {
      cursor: pointer;
      border: 0;
      padding: 10px;
      background: black;
      color: #fff;
    }

    button:hover {
      background: #212121;
    }
  }
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
